@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
}

/* ----- HEADER  ---- */
nav {
  background: #483d3f;
  height: 80px;
  width: 100%;
  z-index: 999 !important;
}
nav .enlace {
  position: absolute;
  padding: 10px 20px;
}
nav .logo {
  width: auto;
  height: 60px;
}
nav ul {
  float: right;
  margin-right: 20px;
  margin-bottom: 0px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #058ed9;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav li a.active,
nav li a:hover {
  background: #77685d;
  transition: 0.5s;
}
nav #check {
  display: none;
}
nav .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
}

/* ----INDEX.HTML / MAIN ----- */
body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  padding: 1rem;
}

.hero {
  width: 100%;
  height: 70vh;
  background: url("../img/hero.jpg") center no-repeat;
  background-size: cover;
}
.hero .container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}
.hero h2-sub {
  font-size: 3rem;
  font-family: "Heebo semibold", sans-serif;
  color: #f4ebd9;
  font-weight: 600;
  line-height: 0.4;
  text-shadow: -2px -2px 1px #000;
}
.hero h2-sub .fil {
  text-transform: uppercase;
  font-size: 3rem;
}
.hero .head {
  color: #058ed9;
  font-size: 3.7rem;
  font-family: "Heebo";
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-shadow: -2px -2px 1px #000;
}
.hero .circle {
  font-size: 1rem;
  color: #058ed9;
  margin: 0 1.6rem;
}
.hero .he-des h5 {
  color: #f4ebd9;
  font-family: "Heebo semibold", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
  text-shadow: -2px -2px 1px #000;
}
.hero .btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}
.hero .cta-btn {
  font-size: 1.1rem;
  background-color: #058ed9;
  padding: 1.5rem 3rem;
  color: #f4ebd9;
  border-radius: 0.4rem;
}
.hero .cta-btn:hover, .hero .cta-btn:focus {
  color: #f4ebd9;
  background-color: #483d3f;
}

/* --- INDEX.HTML / VER-RECETA  ---- */
.global {
  text-align: center;
  margin-top: 3.9rem;
  color: #058ed9;
}

.dis-sto .global {
  margin-top: 6.9rem;
}

.global .circle {
  color: #058ed9;
  margin: 0.5rem 0;
}

.hea-dark {
  color: #77685d;
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}

.global .h2-sub {
  letter-spacing: -1px;
  line-height: 0.42;
}

.res-info {
  text-align: center;
}

.res-des {
  margin-bottom: 3rem;
}

.res-des p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

/* ---- INDEX.HTML / CREAPERFIL  ---- */
.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.receta .res-des {
  padding-top: 3rem;
  margin-bottom: 0;
}

/* ---- MI-PERFIL.HTML / MAIN ----- */
.profile {
  text-align: center;
  height: 300px;
  padding: 12px;
  background-image: url("../img/portada-comida.jpg");
}
.profile .avatar {
  width: 200px;
  height: 200px;
}
.profile .user-name {
  font-size: 32px;
  font-family: "Heboo";
  margin-top: 14px;
  color: white;
}

.social-perfil {
  list-style: none;
  text-align: center;
  padding: 0;
}

.social-perfil li {
  display: inline-block;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #058ed9;
}
a a:hover {
  color: #77685d;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: cover;
}

.gmail {
  background-image: url("../img/gmail-perfil.png");
}

.twitter {
  background-image: url("../img/twitter-perfil.png");
}

.instagram {
  background-image: url("../img/instagram-perfil.png");
}

.about {
  padding: 10px;
}
.about .about h3 {
  color: black;
  font-size: 18px;
  text-align: left;
}
.about .about h3 .about p {
  color: #058ed9;
  font-size: 14px;
}

/* ---- MI-PERFIL.HTML / GALERIA  ---- */
.title-perfil {
  font-family: "Heebo semibold";
  color: #058ed9;
  font-weight: 600;
  line-height: 0.4;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}

.gallery__item {
  position: relative;
}
.gallery__item .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item .gallery__title {
  position: absolute;
  bottom: 0px;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.gallery__item:nth-child(4) {
  grid-column-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(9) {
  grid-column-start: span 2;
}

/* ---- RECETAS.HTML / MAIN ---- */
.site {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
}

.card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  font-size: 23px;
  bottom: 0;
  width: 100%;
  height: 35px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #058ed9;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0, 5px 10px #000;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  font-size: 15px;
  letter-spacing: 1px;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/* ----- CONSEJOS.HTML / MAIN ----- */
.carousel-item {
  max-height: 40rem;
}

.card-site {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card-text {
  font-size: 18px;
}

/* ---- CONTACTO.HTML / MAIN ---- */
#contact {
  min-height: 100vh;
}

#contact .container {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

#contact .container h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

#contact .container .contact-content {
  font-display: grid;
  grid-template-columns: 1fr;
}

#contact .container .contact-content .content-info {
  background-color: #058ed9;
  color: #483d3f;
  padding: 1.75rem 1rem;
  position: relative;
}

#contact .container .contact-content .content-info::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.75rem solid #058ed9;
  bottom: -1.75rem;
  right: 2rem;
}

#contact .container .contact-content .content-info h4 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 2rem;
}

#contact .container .contact-content .content-info p {
  font-size: 1rem;
  color: #f3f3f3;
  margin: 0;
  margin-bottom: 2rem;
}

#contact .container .contact-content .content-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contact .container .contact-content .content-info ul li {
  font-size: 0.95rem;
  color: #f3f3f3;
}

#contact .container .contact-content .content-info ul li a {
  color: #f3f3f3;
  text-decoration: none;
}

#contact .container .contact-content .content-info ul li a:hover {
  text-decoration: underline;
}

#contact .container .contact-content .content-form {
  padding: 1.75rem 1rem;
  border: 1px solid #483d3f;
  border-top: none;
}

#contact .container .contact-content .content-form label {
  display: inline-block;
  font-size: 1rem;
  color: #058ed9;
  margin-bottom: 0.5rem;
}

#contact .container .contact-content .content-form input,
#contact .container .contact-content .content-form textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  color: #483d3f;
  box-sizing: border-box;
  border: 1px solid #483d3f;
  margin-bottom: 1rem;
}

#contact .container .contact-content .content-form textarea {
  font-family: sans-serif;
}

#contact .container .contact-content .content-form button {
  color: #f4ebd9;
  background-color: #058ed9;
  border: 1px solid #483d3f;
  padding: 0.475rem;
  font-size: 1rem;
  transition: background-color 0.6s cubic-bezier(0.654, 0.045, 0.355, 1), color 0.6s cubic-bezier(0.654, 0.045, 0.355, 1);
  box-sizing: border-box;
  cursor: pointer;
}

#contact .container .contact-content .content-form a:hover {
  background-color: transparent;
  color: #483d3f;
}

/* ---- FOOTER ---- */
footer {
  position: absolute;
  background: #483d3f;
  height: auto;
  width: 100vw;
  font-family: "Heebo";
  padding-top: 40px;
  color: #fff;
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
footer .footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
footer .footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
footer .socials li {
  margin: 0 10px;
}
footer .socials a {
  text-decoration: none;
  color: #fff;
}
footer .socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
footer .socials a:hover i {
  color: #058ed9;
}
footer .footer-bottom {
  background: #77685d;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
footer .footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
footer .footer-bottom span {
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 200;
}

/* ---- MEDIA QUERY (nav)  ---- */
@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #483d3f;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: #058ed9;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* ----- MEDIA QUERY (index) ---- */
@media screen and (min-width: 900px) {
  section {
    padding: 0.9rem;
  }
  .h2-sub {
    font-size: 3rem;
    color: #f4ebd9;
    text-shadow: -2px -2px 1px #000;
  }
  .fil {
    font-size: 3rem;
  }
  .head {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }
  .res-info {
    display: flex;
    align-items: center;
  }
  .res-info > div {
    flex: 1;
  }
  .pad-rig {
    padding-right: 7rem;
  }
}
/* ----- MEDIA QUERY (mi-perfil) ---- */
@media screen and (min-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
  }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 3;
  }
}
@media screen and (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .gallery__item:nth-child(3) {
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
  }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(9) {
    grid-column-start: span 3;
  }
}
/* ----- MEDIA QUERY (recetas) ---- */
@media (max-width: 1600px) {
  .site {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    right: 10px;
  }
  .card {
    margin: 15px;
  }
}
@media (max-width: 1300px) {
  .site {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    margin: 15px;
  }
}
@media (max-width: 1014px) {
  .site {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  div .card {
    margin: 15px;
  }
}
@media (max-width: 745px) {
  .site {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
  }
  div .card {
    margin: 15px;
  }
}
/* ----- MEDIA QUERY (consejos) ---- */
@media screen and (max-width: 1600px) {
  .card-site {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-text {
    font-size: 13px;
    padding: 5px;
  }
}
@media screen and (max-width: 1015px) {
  .card {
    margin: -15px;
  }
  .card-site {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-text {
    font-size: 13px;
    padding: 5px;
  }
}
@media screen and (max-width: 900px) {
  .card-site {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .card-site {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ----- MEDIA QUERY (contacto) ---- */
@media (min-width: 1200px) {
  #contact .container {
    max-width: 1140px;
  }
}
@media (min-width: 1024px) {
  #contact .container {
    max-width: 964px;
  }
}
@media (min-width: 1024px) and (min-width: 768px) {
  #contact .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) and (min-width: 576px) {
  #contact .container {
    max-width: 540px;
  }
}
@media (min-width: 1024px) {
  #contact .container .contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  #contact .container .contact-content .content-info {
    order: 2;
  }
}
@media (min-width: 1024px) {
  #contact .container .contact-content .content-info::before {
    top: 2rem;
    left: -1.75rem;
    transform: rotate(90deg);
  }
}
@media (min-width: 1024px) {
  #contact .container .contact-content .content-form {
    order: 1;
    border-right: none;
    border-top: 1px solid #483d3f;
  }
}

/*# sourceMappingURL=styles.css.map */
