@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------ALL.HTML / NAVBAR -------------- */
nav {
  background: #483d3f;
  height: 80px;
  width: 100%;
}

.enlace {
  position: absolute;
  padding: 10px 20px;
}

.logo {
  width: auto;
  height: 60px;
}

nav ul {
  float: right;
  margin-right: 20px;
  margin-bottom: 0px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #058ed9;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active,
li a:hover {
  background: #77685d;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* section {
  background: url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
} */

/* -------------- INDEX.HTML / MEDIA QUERY (NAV)  -------------- */

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #483d3f;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  li a:hover,
  li a.active {
    background: none;
    color: #058ed9;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
/* -------------- INDEX.HTML / BODY -------------- */

body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.hero {
  width: 100%;
  height: 70vh;
  background: url("../img/hero.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.h2-sub {
  font-size: 3rem;
  font-family: "Heebo semibold", sans-serif;
  color: #058ed9;
  font-weight: 600;
  line-height: 0.4;
}

.fil {
  text-transform: uppercase;
  font-size: 3rem;
}

.head {
  color: #ffffff;
  font-size: 3.7rem;
  font-family: "Heebo";
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.circle {
  font-size: 1rem;
  color: #f4ebd9;
  margin: 0 1.6rem;
}

.he-des h5 {
  color: #ffffff;
  font-family: "Heebo semibold", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}

.cta-btn {
  font-size: 1.1rem;
  background-color: #058ed9;
  padding: 1.5rem 3rem;
  color: #f4ebd9;
  border-radius: 0.4rem;
}

.cta-btn:hover,
.cta-btn:focus {
  color: #f4ebd9;
  background-color: #483d3f;
}

/* -------------- INDEX.HTML / CONSEJOS  -------------- */

.global {
  text-align: center;
  margin-top: 3.9rem;
}

.dis-sto .global {
  margin-top: 6.9rem;
}

.global .circle {
  color: #058ed9;
  margin: 0.5rem 0;
}

.hea-dark {
  color: #77685d;
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}

.global .h2-sub {
  letter-spacing: -1px;
  line-height: 0.42;
}

.res-info {
  text-align: center;
}

.res-des {
  margin-bottom: 3rem;
}

.res-des p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

/* -------------- INDEX.HTML / RECETA  -------------- */

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.receta .res-des {
  padding-top: 3em;
  margin-bottom: 0;
}

/* -------------- ALL.HTML / FOOTER -------------- */

footer {
  position: absolute;
  background: #483d3f;
  height: auto;
  width: 100vw;
  font-family: "Heebo";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #058ed9;
}

.footer-bottom {
  background: #77685d;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 200;
}

/* -------------- MI-PERFIL.HTML / MAIN -------------- */

.profile {
  text-align: center;
  height: 300px;
  padding: 12px;
  background-image: url("../img/portada-comida.jpg");
}

.avatar {
  width: 200px;
  height: 200px;
}

.user-name {
  font-size: 32px;
  font-family: "Heboo";
  margin-top: 14px;
  color: white;
}

.social-perfil {
  list-style: none;
  text-align: center;
  padding: 0;
}

.social-perfil li {
  display: inline-block;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #058ed9;
}

a:hover {
  color: #77685d;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: cover;
}

.gmail {
  background-image: url("../img/gmail-perfil.png");
}

.twitter {
  background-image: url("../img/twitter-perfil.png");
}

.instagram {
  background-image: url("../img/instagram-perfil.png");
}

.about {
  padding: 10px;
}

.about h3 {
  color: black;
  font-size: 18px;
  text-align: left;
}

.about p {
  color: #058ed9;
  font-size: 14px;
}

/* -------------- MI-PERFIL.HTML / GALERIA  -------------- */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}

.title-perfil {
  font-family: "Heebo semibold";
  color: #058ed9;
  font-weight: 600;
  line-height: 0.4;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.gallery__item {
  position: relative;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.gallery__item:nth-child(4) {
  grid-column-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(9) {
  grid-column-start: span 2;
}

/* -------------- MI-PERFIL.HTML / GALERIA-RESPONSIVE -------------- */

@media screen and (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery__item:nth-child(3) {
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
  }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(9) {
    grid-column-start: span 3;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
  }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 3;
  }
}
/* -------------- RECETAS.HTML / MAIN -------------- */

.site {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  font-size: 23px;
  bottom: 0;
  width: 100%;
  height: 35px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #058ed9;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0, 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  font-size: 15px;
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
/* -------------- CONSEJOS.HTML / MAIN -------------- */

/* -------------- CONTACTO.HTML / MAIN -------------- */

section .contact {
  background: #058ed9;
  margin: 0;
}

.form {
  width: 340px;
  height: 540px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(10vw - 120px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Heebo";
  position: relative;
}

.form h1 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: grey;
  border-bottom: 3px solid black;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Heebo";
  border-bottom: 2px solid grey;
  transform: all 0.3s;
}

input:focus {
  border-bottom: 1px solid #058ed9;
}

p:before {
  content: attr(type);
  display: block;
  margin: 10px;
  font-size: 14px;
  color: grey;
}

button {
  float: right;
  padding: 8px 12px;
  margin: 30px 0 0;
  font-family: "Heebo";
  border: 2px solid #058ed9;
  background: 0;
  color: black;
  cursor: pointer;
  transform: all 0.3s;
}

button:hover {
  background: #058ed9;
  color: white;
}

.test {
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: black;
  color: white;
  width: 320px;
  padding: 16px 4px 16px 0px;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

span {
  margin: 0 5px 0 15px;
}

.fa fa-phone {
  float: right;
  padding: 8px 12px;
  margin: 20px 0 0;
}

/* -------------- MEDIA QUERY (index)-------------- */

@media screen and (min-width: 900px) {
  section {
    padding: 0.9rem;
  }

  .h2-sub {
    font-size: 3rem;
  }

  .fil {
    font-size: 3rem;
  }
  .head {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }

  .res-info {
    display: flex;
    align-items: center;
  }

  .res-info > div {
    flex: 1;
  }

  .pad-rig {
    padding-right: 7rem;
  }
}
