@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}
.cta-btn {
  font-size: 1.1rem;
  background-color: #1a7667;
  padding: 1.5rem 3rem;
  color: #f4ebd9;
  border-radius: 0.4rem;
  &:hover,
  &:focus {
    color: #f4ebd9;
    background-color: #483d3f;
  }
}
