$marron: #483d3f;
$verde: #1a7667;
$cafe: #77685d;
$crema: #f4ebd9;
$blanco: #f3f3f3;

//! LISTAS

$colores: #483d3f, #1a7667, #77685d, #f4ebd9, #f3f3f3;

$font-size: 13px, 14px, 15px, 16px, 18px, 20px, 23px, 30px, 32px;

//! MAPAS
// KEY - VALUE(VALOR) utilizado en (contacto.html #contact .container .contact-content .content-form button)

$button: (
  back-button: #1a7667,
  colorin: #f4ebd9,
  padd: 0.475rem,
);

//! EXTENDS

%flex {
  display: flex;
  align-items: center;
  text-align: center;
}

//! MIXIN

@mixin flex($flex, $align-item, $text-align) {
  display: $flex;
  align-items: $align-item;
  text-align: $text-align;
}
